* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

header {
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
}

ul {
    display: flex;
    gap: 3vh;
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #007bff;
}

/* Botão hamburguer */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 100%;
    background: #333;
    border-radius: 5px;
}

@media (max-width: 768px) {
    ul {
        display: none;
        position: absolute;
        top: 70px;
        right: 2rem;
        flex-direction: column;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        border-radius: 8px;
        z-index: 100;
    }

    ul.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}